

body {
    display:flex ;
    justify-content:center;
}
h1 {
    color: blueviolet;
}

li{
    color: chartreuse;
    size: 0mm;
}

.Fracaso{
    color: rgb(42, 116, 165);
}



  .esta_imagen{
      float: right;
  }